$color : #2e5470ff;
$textcolor : white;
$p : black;


body{
  background-color: $color;
  height: 200%;
}

h1{
  color: $textcolor;
}

p{
  color: $p;
}



.reviewSubmit{
  width:200px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  //margin-right: 40px;
  font-size: 40px;
  margin: 60px 300px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}


th, td, p, label{
  color: $textcolor;
}


