<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frq#2</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1 style=" text-align: center; font-family: 'Javanese Text';"strong> FRQ #2</h1>
<form style=" text-align:center;" action="/caleb3" method="GET" id="frqForm">
    <div class="frq-form">
        <p for="frqField"> Take the square root of the sum of 2 numbers !!!!!</p>
        <br/>
        <input style="background-color: mediumpurple;" name="a" id="frqField">
        <h1> + </h1>
        <input style="background-color: mediumpurple;" name="b" id="frqField">
        <br/>
        <br/>
        <br/>
        <button class="btn btn-outline-danger">CLICK ME</button>
        <br/>
        <br/>

        <p th:text="'EQUALS: ' + ${answer}"></p>
    </div>
</form>
</body>
</html>