<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caleb FRQs</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<br/>
<br/>
<br/>
<br/>
<h1 style=" text-align: center; font-family: 'Javanese Text'"strong> FRQ #5 </h1>
<br/>
<h1 style="text-align: center; font-weight: bold; font-family: 'Javanese Text'"><b> Give the addy</b>
</h1>

<br>

<div style="text-align: center;" class="part-e">

    <div style="text-align: center; width: 60em; margin: auto">
        <div class="part-f">
            <form action="/caleb5" method="GET" id="frqForm">
                <div class="frq-form">
                    <p for="frqField">Type in your name and address</p>
                    <br />
                    <input style="background-color: lavender" name="name" id="frqField" />
                    <input style="background-color: lavender" name="address" id="frqField" />
                    <br />
                    <br />
                    <button>CLICK ME FOR DA INVITE</button>
                    <br />
                    <p th:text="'Answer: ' + ${invite}"></p>
                </div>
            </form>
        </div>
    </div>

</div>
<hr>
</body>
</html>