<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div style="text-align: center; width: 60em; margin: auto">
  <div class="part-f">
    <h1>FRQ #9 BOOKS WITH/WITHOUT ILLUSTRATOR</h1>
    <form action="/caleb9" method="GET" id="frqForm">
      <div class="frq-form">
        <p for="frqField">View books</p>
        <br />
        <p th:text="'Book 1: ' + ${book1}"></p>
        <p th:text="'Book 2: ' + ${book2}"></p>
      </div>
    </form>
  </div>
</div>

</body>
</html>