<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="text-align: center; width: 60em; margin: auto">
    <div class="part-f">
        <h1>Unit 10 FRQ</h1>
        <form action="/caleb10" method="GET" id="frqForm">
            <div class="frq-form">
                <p for="frqField">Type in numerator and denominator</p>
                <br />
                <input style="background-color: lightcoral" name="numerator" id="frqField" />
                <input style="background-color: lightcoral" name="denominator" id="frqField" />
                <br />
                <button>Run!</button>
                <br />
                <p th:text="'Reduced Fraction: ' + ${reducedFraction}"></p>
            </div>
        </form>
    </div>
</div>

</body>
</html>