<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head> <div style=" text-align:center" layout:fragment="metadata" th:remove="tag">
    <style>
        form {
            margin-top: 80px;
        }
    </style>
    <!-- Start of head content specific to page -->
    <title>Greet</title>
    <!-- End of head content specific to page -->
</div>

</head>
<body style="padding-left: 24px">
<div class="center">
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->

    <div class="contact" style="height: 35vh;" >
        <div class="row justify-content-left">
            <form action="/comment" method="GET" id="greetForm">
                <div>
                    <h1>Feedback form</h1>
                    <h1 style="font-size: 18px">Leave a review of our website and how we could improve it.</h1>
                </div>
                <div>
                    <label for="greetField">Username</label>
                    <input name="username" id="greetField">
                    <div></div>
                    <label for="greetField1">Feedback</label>
                    <input style="width: 900px;" name="comment" id="greetField1">
                    <div></div>
                    <button class="reviewSubmit">CLICK ME</button>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Date</th>
                            <th>Feedback</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="comm: ${l}">
                            <td>
                                <p th:text="@{${comm.GetUsername()}}"></p>
                            </td>
                            <td>
                                <p th:text="@{${comm.GetDate()}}"></p>
                            </td>
                            <td>
                                <p th:text="@{${comm.GetComment()}}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </form>
        </div>
    </div>
</div>
    <!-- End of body content specific to page -->
</div></body>

</html>