<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Intro</title>
</div>

</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <br>
    <br>
    <br>
    <br>
    <!-- Add Gallary -->

    <div>
        <a href="" class="btn btn1">Btn1<span></span></a>
        <br>
        <a href="" class="btn btn1">Btn2<span></span></a>
    </div>

    <!-- End of body content specific to page -->
</div>


</body>


</html>


