<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>New Released Games</title>
</div>

</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <br>
    <br>
    <br>
    <br>

    </head>
    <body>
    <style>
        .checked {
            color: orange;
        }
    </style>

    <br>
    <h1>New Released Games</h1>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Game</th>
            <th scope="col">Rating</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="col"><img src="images/banner/destiny.jpg" style="width:500px"/></td>
            <td>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span></td>
            <td>The Witch Queen is the newest expansion for Destiny 2. The antagonist is Savathûn. It follows Savathûn after the events of Season of the Lost from Beyond Light, after she stole the Light. The Witch Queen begins with Mars suddenly appearing after its descend into the Destiny Content Vault.
                Savathun has mysteriously shown herself on the surface of Mars. With Ikora and Eris Morn exploring the new camp near the Relic, the Cabal set up a cannon aiming at Savathuns ship, and so the opening mission begins.</td>
        </tr>
        <tr>
            <td><img src="images/banner/elden.jpg" style="width:500px"/></td>
            <td>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span></td>
            <td>Elden Ring is an action role-playing game developed by FromSoftware and published by Bandai Namco Entertainment. The game was made in collaboration with fantasy novelist George R. R. Martin, who provided material for the game's setting. It was released for Microsoft Windows, PlayStation 4, PlayStation 5, Xbox One, and Xbox Series X/S on February 25, 2022. Elden Ring received critical acclaim, and is among the highest-reviewed games of all time. Praise was directed at its open world design and improvements to the Souls formula, though it received minor criticism for its techical issues on the PC version.</td>
        </tr>
        <tr>
            <td><img src="images/banner/horizon.jpg" style="width:500px"/></td>
            <td>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span></td>
            <td>Horizon Forbidden West is an action role-playing video game developed by Guerrilla Games and published by Sony Interactive Entertainment for the PlayStation 4 and PlayStation 5. A sequel to 2017's Horizon Zero Dawn, it is a single-player open world game set in a post-apocalyptic version of the western United States. The player must travel and complete missions using survival skills, melee attacks, and long-distance weapons in a world overrun by a deadly plague, hostile machine creatures, and other survivors.</td>
        </tr>
        <tr>
            <td><img src="images/banner/grid.jpg" style="width:500px"/></td>
            <td>                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span></td></td></td>
            <td>Grid Legends will offer more than 130 tracks to race on, ranging from real-life circuits like Brands Hatch, Indianapolis Motor Speedway, Suzuka International Racing Course and the return of Mount Panorama Circuit, to street circuits in various cities such as San Francisco, Paris, London, and Moscow. The game will also feature more than 100 vehicles, including touring cars, semi-trailer truck, open-wheel car, stadium trucks, drift cars, and even electric vehicles, to compete in arena ovals, on street circuits, or off-road tracks. The same virtual set tech used in the American Space Western television series The Mandalorian is also harnessed the same. For the first time in the series, players will be able to create their own races, including custom routes, obstacles, vehicle restrictions, and rules.</td>
        </tr>
        <tr>
            <td><img src="images/banner/elex.jpg" style="width:500px"/></td>
            <td><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></td>
            <td>ELEX II is the sequel to ELEX, the vintage open-world role-playing experience from the award-winning creators of the Gothic and Risen series, Piranha Bytes. ELEX II returns to the post-apocalyptic Science Fantasy world of Magalan – with massive environments that can be explored with unrivaled freedom via jetpack, you will be able to move through the epic story any way you want.</td>
        </tr>

        </tbody>
    </table>

    </body>
</div>

</body>

</html>


