<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Review Games</title>
    </div>
</head>


<body layout:fragment="content" th:remove="tag">

<br>
<br>
<br>
<br>

<h1 style="color: white">Game Reviews</h1>

<div class="row justify-content-md-center">
    <a style="font-size:1vw" th:href="@{/student/test}">Comment Here!</a>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Game Name</th>
        <th>Feedback</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${list}">


        <td th:text="${user.id}">Person ID</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.salary}">Game Name</td>
        <td th:text="${user.teamName}">Feedback</td>
    </tr>


    </tbody>
</table>

</html>


