<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>FRQ2</title>
    </div>

</head>
<body style="padding: 24px">
<div layout:fragment="content" th:remove="tag">
    <br>
    <br>
    <br>
    <br>
    <div>
        <div>
            <h3 style="font-size: 72px">FRQ2</h3>
            <h2>If the box is checked, then the person is attending the dinner. Selecting a number between 1-4 will determine what dinner you will be served.</h2>
            <hr>
        </div>
        <form action="/navodit/frq2" method="GET" id="frq2" style="text-align: center">
            <h1 for="frq2Field">Dinner</h1>
            <label style="font-size: 24px">Are you attending:</label>
            <input type="checkbox" name="attend" id="frq2Check" style="width: 25px; height: 25px">
            <br>
            <div>
            <input type="number" min="1" name="meal" id="frq2Field" placeholder="Which meal?" style="width: 25%">
            </div>
            <br>
            <div>
                <button style="width:200px; background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px">
                Submit</button>
            </div>
        </form>
        <br>
        <br>
        <h2 th:text="${dinner}"></h2>
    </div>
    <br>
    <br>
    <div>
        <script src="https://gist.github.com/Navodit1603/2f79cf37594c11867962ec3f57e9f45e.js"></script>
    </div>


</div>


</body>
</html>