<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Navodit's substrings</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

    </div>
    <!-- layout::fragment="content" is heart of ThymeLeaf layout -->
    <div layout:fragment="content" th:remove="tag">
        <!-- Start of body content specific to page -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </div>
</head>
<body style="padding: 24px;">
<div layout:fragment="content" th:remove="tag">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <h3 style="font-size: 72px">FRQ4</h3>
        <h2>User can input a string and the program will find the longest substring with repeating characters.</h2>
        <hr>
    </div>
    <br>
    <br>
    <form action="/navodit/frq4" method="GET" id="frq4" style="text-align: center">
        <h1 for="frq4Field">Substring</h1>
        <br>
        <div>
            <input type="text" name="substring" id="frq3Field" placeholder="Enter Substring" style="width: 25%">
        </div>
        <br>
        <div>
            <button style="width:200px; background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px">
                Submit</button>
        </div>
        <br>
        <br>
        <div>
            <h2>Repeated Letter:</h2>
            <h2 th:text="${x}"></h2>
            <h2>Number of times repeated in a row:</h2>
            <h2 th:text="${ans}"></h2>

        </div>
    </form>
    <br>
    <br>
    <div>
        <script src="https://gist.github.com/Navodit1603/3f9bfefe2238915207bb9f315a51f032.js"></script>
    </div>
</div>
</body>
</html>