<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
  <div layout:fragment="metadata" th:remove="tag">
    <title>FRQ5</title>
  </div>
</head>
<body style="padding: 24px">
<div layout:fragment="content" th:remove="tag">
  <br>
  <br>
  <br>
  <br>
<div>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@NavoditMaheshwa/static?embed=true"></iframe>
</div>
<br>
  <br>
  <div>
    <script src="https://gist.github.com/Navodit1603/8646b8c9fd077a0aa17e133777bb3cb4.js"></script>
  </div>
</div>
</body>
</html>